body
{
	background-color: lightblue;
}

	.login_div1
	{
		background: rgb(255, 255, 255);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

    .login_div2
	{
		background: rgb(252, 255, 251);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

    #player1 , #player2 {
        font-family: cursive;
        font-size: 15px;
        line-height: 20px;
        width: 80%;
        height: 50px;
        color: #000000;
        background: none;
        border: none;
        border-bottom: 1px solid rgb(223, 205, 205);
        outline: none;
     }

